<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="dataSource" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/estudiantes"/>
      <property name="username" value="root"/>
      <property name="password" value=""/>
    </bean>
    
    <bean id="dataSource1" 
      class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/apptaxi"/>
      <property name="username" value="root"/>
      <property name="password" value=""/>
    </bean>
   
    <bean id="EstudianteJDBCTemplate" 
       class="com.company.dao.EstudianteJDBCTemplate">
       <property name="dataSource"  ref="dataSource" />    
    </bean>
    
    <bean id="usuarioJDBCTemplate" 
        class="com.administradorBD.UsuarioJDBCTemplate" >
        <property name="dataSource"  ref="dataSource1" /> 
    </bean>
    
    <bean id="pedidoJDBCTemplate"
        class="com.administradorPedido.PedidoJDBCTemplate" >
        <property name="dataSource" ref="dataSource1" />
    </bean>
    
    <bean id="reclamoJDBCTemplate"
        class="com.administradorReclamos.ReclamoJDBCTemplate" >
        <property name="dataSource" ref="dataSource1" />
    </bean>
</beans>
